localhost {
  log {
    format json
  }

  # Компрессия
  encode zstd
  # Самоподписной сертификат
  tls internal

  # Проксирование всех запросов в app:8080
  # app – имя сервиса в docker-compose.yml
  reverse_proxy /* app:8080
}